<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <img th:src="@{cid:logo}" alt="Logo" style="width: 150px; height: auto;">
    <h1>Bem-vindo(a) à plataforma Pardal!</h1>
    <p>Olá! Seu pré-cadastro foi realizado com sucesso.</p>
    <p>No entanto, a aprovação do administrador é necessária para que você possa acessar a plataforma.</p>
    <p>Assim que o seu cadastro for aprovado, você receberá um novo e-mail informando que sua conta está disponível para uso.</p>
    <p>Agradecemos a compreensão.</p>
</body>
</html>